body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("assets/images/dice.JPG");
  background-size: cover;
  height: 500vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bungee{
  font-family: 'Bungee Shade', cursive;
}
.header{
  font-weight: 700;
  font-size: 70px;
  color:white;
}
.navigation{
  font-weight: 700;
  font-size: 32px;
  margin: 15 px;
}
.flexTopRow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 98vw;
  border: double;
  margin: 5px;
  flex-wrap: wrap;
  flex: 1;
}

.flexSubRow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 50vw;
  border: double;
  margin: 5px;
  flex-wrap: wrap;
  flex: 1;
}
.flexCol{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 15vw;
  border: double;
  margin: 5px;
  flex: 10%;
}

.charSheet{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
input{
  background-color: transparent;
}
select{
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
}

.genStats{
  font-family: 'Montserrat', sans-serif;
  margin: 5px;
}