body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("assets/images/dice.JPG");
  background-size: cover;
  height: 500vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bungee{
  font-family: 'Bungee Shade', cursive;
}
.header{
  font-weight: 700;
  font-size: 70px;
}
.navigation{
  font-weight: 700;
  font-size: 32px;
  margin: 15 px;
}
.flexContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
input{
  background-color: transparent;
}
select{
  background-color: transparent;
}